<div id="invoicePayment" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">
      <!-- HEADER -->
      <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
          <!-- APP TITLE -->
          <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/invoicepayments'">
                  <mat-icon>arrow_back</mat-icon>
              </button>
              <div *ngIf="invoicePaymentForm" fxLayout="column" fxLayoutAlign="start start"
                   [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  <div class="h2">
                      <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">payment</mat-icon>
                      {{getOwnerName(invoicePaymentForm.get('ownerGuid').value)}} 
                  </div>
                  <div class="h2" *ngIf="pageType =='new'">
                      {{'INVOICE-OWNER-SETTINGS.GENERAL.NEW' | translate}}
                  </div>
                  <div class="h2" *ngIf="pageType =='edit'">
                      {{'INVOICE-OWNER-SETTINGS.GENERAL.EDIT' | translate}}
                  </div>
              </div>
          </div>
          <button *ngIf="pageType == 'new' && invoicePaymentForm && allowAddInvoicePayment" mat-raised-button
                  class="save-product-button"
                  [disabled]="invoicePaymentForm.invalid"
                  (click)="onSubmit()">
              <span>{{'INVOICE-OWNER-SETTINGS.GENERAL.ADD' | translate}}</span>
          </button>
          <button *ngIf="pageType == 'edit' && invoicePaymentForm && allowAddInvoicePayment" mat-raised-button
                  class="save-product-button"
                  [disabled]="invoicePaymentForm.invalid || isLoading()"
                  (click)="onUpdateSubmit()">
              <span>{{'INVOICE-OWNER-SETTINGS.GENERAL.SAVE' | translate}}</span>
          </button>
          <!-- / APP TITLE -->
      </div>
      <mat-progress-bar *ngIf="isLoading() == true" color="primary" mode="query"></mat-progress-bar>
      <!-- / HEADER -->
      <!-- CONTENT CARD -->
      <div class="content-card">
          <!-- CONTENT -->
          <div class="content">
              <form *ngIf="invoicePaymentForm" [formGroup]="invoicePaymentForm" class="product w-100-p" fxLayout="column" fxFlex novalidate>
                  <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                          <mat-label>{{'TRANSFER-ACCOUNT.LIST-COLUMNS.OWNER' | translate}}</mat-label>
                          <mat-select name="ownerGuid" formControlName="ownerGuid" required>
                              <mat-option *ngFor="let owner of getOwners()" [value]="owner.accountId">{{owner.username}} </mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                          <input type="text" mwlFlatpickr
                                 matInput
                                 [enableTime]="true"
                                 [convertModelValue]="true"
                                         [dateFormat]="'d.m.Y H:i'"
                                         ariaDateFormat="d.m.Y H:i"
                                 placeholder="{{'INVOICE-PAYMENT.LIST-COLUMNS.PAYMENT-DATE' | translate}}" formControlName="paymentDate">
                      </mat-form-field>
                      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                          <mat-label>{{'AUTO-TRANSFER.LIST-COLUMNS.AMOUNT' | translate}}</mat-label>
                          <input matInput placeholder="{{'AUTO-TRANSFER.LIST-COLUMNS.AMOUNT' | translate}}" type="number" formControlName="amount" required>
                      </mat-form-field>
                      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                          <mat-label>{{'INVOICE-PAYMENT.LIST-COLUMNS.PAYMENT-REFERENCE' | translate}}</mat-label>
                          <input matInput placeholder="{{'INVOICE-PAYMENT.LIST-COLUMNS.PAYMENT-REFERENCE' | translate}}" type="text"  formControlName="paymentReference">
                      </mat-form-field>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!--</div>
</div>-->
