
::ng-deep .mat-list-text {
  margin-left: 10px !important;
}

fieldset {
  border: 0;
}
.list-max-height {
  /*max-height:160px;*/
  padding: 24px;
  overflow: auto;
}
.list-container {
  height: 100%;
  border: none;
}

.grid-container {
  height: 100%;
  //width: 68%;
  min-height: 200px;
}

.filter-padding {
  padding-right: 25px;
}

.item-list-container {
border: none;
height: 95%;
}

.tenant-edit-container {
  //max-width: 1000px;
  height: calc(100% - 160px);
}

