<div *ngIf="!changed">
  <mat-progress-bar *ngIf="loading$ | async" color="primary" mode="query"></mat-progress-bar>
  <h1 mat-dialog-title>Change password for: {{data.name}}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input (change)="passwordInputChanged()" matInput type="password" placeholder="Old password" [(ngModel)]="data.oldPassword" required>
    </mat-form-field>
    <mat-form-field>
      <input  [type]="hide ? 'password' : 'text'" (change)="passwordInputChanged()" matInput type="password" placeholder="New password" [(ngModel)]="data.newPassword" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input [type]="hide ? 'password' : 'text'" (change)="passwordInputChanged()" matInput type="password" placeholder="New password confirm" [(ngModel)]="data.newPasswordConfirm" required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="margin-bottom: 15px;">
    <button [disabled]="loading$ | async" mat-button (click)="onNoClick()">Cancel</button>
    <button [disabled]="loading$ | async" mat-button (click)="onChangeClick(data)" cdkFocusInitial>Change</button>
  </div>
  <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
</div>
<div *ngIf="changed === true">
  <h1 mat-dialog-title>Password has been changed</h1>
  <button [disabled]="loading$ | async" mat-button [mat-dialog-close]="data" cdkFocusInitial>Close</button>
</div>